{% extends "pages/base_links.html" %}
{% block link_href1 %}
/home/cmp1/
{% endblock %}
{% block link_href2 %}
/home/cmp2/
{% endblock %}
{% block link_href3 %}
/home/cmp3/
{% endblock %}
{% block link_href4 %}
/home/cmp4/
{% endblock %}
{% block link_href5 %}
/home/cmp5/
{% endblock %}
{% block ten_mien1 %}
Text 1
{% endblock %}
{% block ten_mien2 %}
Text 2
{% endblock %}
{% block ten_mien3 %}
Text 3
{% endblock %}
{% block ten_mien4 %}
Text 4
{% endblock %}
{% block ten_mien5 %}
Text 5
{% endblock %}
{% block link1 %}
https://www.nytimes.com/2022/11/19/sports/soccer/world-cup-qatar-2022.html
{% endblock %}
{% block link2 %}
https://www.reuters.com/article/us-soccer-corruption-idUSKCN1TJ0SO
{% endblock %}
{% block link3 %}
https://www.allsides.com/news/2022-11-19-0820/sports-world-cup-changed-everything
{% endblock %}
{% block link4 %}
https://en.wikipedia.org/wiki/Michel_Platini
{% endblock %}
{% block link5 %}
https://www.theguardian.com/football/2022/jun/09/sepp-blatter-denies-approving-alleged-fraudulent-payments-to-michel-platini
{% endblock %}
